<div id="projects" class="container project-container section scrollspy">
  <div class="row">
    <div class="col-md-12 text-center">
        <p class="title-font">LATEST PROJECTS</p>
    </div>
  </div>

  <div class="row ">
    <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
      <div class="card project-card">
        <div class="card-image">
          <%= image_tag "attractus.jpg" %>
          <span class="card-title project-title">Attractus</span>
        </div>
        <div class="card-content project-content">
          <p>A Ruby on Rails web application that allows users to search and write a review on their favorite national park</p>
        </div>
        <div class="card-action">
          <a href="https://github.com/bluwolf/attractus" target="_blank">Source</a>
          <a href="https://attractus.herokuapp.com/" target="_blank">Demo</a>
        </div>
      </div>
    </div>

    <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card project-card">
        <div class="card-image">
          <%= image_tag "closetome.jpeg" %>
          <span class="card-title project-title">Close To Me</span>
        </div>
        <div class="card-content project-content">
          <p>A Ruby on Rails web application that shows 8 closest attractions to the user in categories of food, nightlife, lodging, and mall</p>
        </div>
        <div class="card-action">

          <a href="https://github.com/bluwolf/closetome" target="_blank">Source</a>
          <a href="https://closetome.herokuapp.com/" target="_blank">Demo</a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card project-card">
        <div class="card-image">
          <%= image_tag "lxnj.jpeg" %>
          <span class="card-title project-title">Wheecar Company Website</span>
        </div>
        <div class="card-content project-content">
          <p> A Ruby on Rails web application that lets users buy, sell, and auction used cars. </p>
        </div>
        <div class="card-action">
          <a href="http://lxnj.herokuapp.com/" target="_blank">Demo</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card project-card">
        <div class="card-image">
          <%= image_tag "loops.png" %>
          <span class="card-title project-title">Loop</span>
        </div>
        <div class="card-content project-content">
          <p>An iOS app that saves all of user's social media profiles into one place for easy access.</p>
        </div>
        <div class="card-action">
          <a href="https://github.com/keoskate/loop" target="_blank">Source</a>

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card project-card">
        <div class="card-image">
          <%= image_tag "hanafuda.jpeg" %>
          <span class="card-title project-title">Hanafuda Game</span>
        </div>
        <div class="card-content project-content">
          <p>Built-from-scratch Java Japanese Hanafuda card game featuring chat and battling between two players</p>
        </div>
        <div class="card-action">
          <a href="https://github.com/bluwolf/hanafuda-game-java" target="_blank">Source</a>

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card project-card">
        <div class="card-image">
          <%= image_tag "search.jpeg" %>
          <span class="card-title project-title">Qt Search Engine</span>
        </div>
        <div class="card-content project-content">
          <p>A C++ Search Engine that takes in keywords and returns the documents/webpages that contain those keywords ranked in order of relevance </p>
        </div>
        <div class="card-action">
          <a href="https://github.com/bluwolf/qt-search-cpp/tree/master/qtSearchApp" target="_blank">Source</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <a href="https://github.com/bluwolf/" target="_blank"
    class="waves-effect waves-light btn-large black button-text">
        <i class="fa fa-github fa-4x" ></i> &nbsp; ALL REPOSITORIES
    </a>
  </div>

</div>
