<!DOCTYPE html>
<html>
<head>
  <title>Kay's Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/nav' %>
<%= yield %>
  <%= render 'layouts/footer' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


</body>


<script>


$(document).ready(function(){
     $('.parallax').parallax();
     $(".button-collapse").sideNav();
     $('.scrollspy').scrollSpy({offset: 0});
   });
</script>
</html>
